
extends layout

block content
  .container.mt-5
    .card.text-center
      .card-body
        h1.card-title User Deleted Successfully
        p.card-text The user has been deleted successfully.

        a.btn.btn-primary(href='/') Go back to the Users List
